fastapi==0.141.1
uvicorn==0.52.1
redis==8.1.0
asyncpg==0.31.0
dotenv==0.9.9
httpx==0.28.1
playwright==1.62.0
beautifulsoup4==4.15.0
dramatiq==2.2.0
markdownify==1.2.3
psycopg2-binary==2.9.12
requests==2.34.2
openai==3.1.0
websockets==15.0.1
# openrouter==1.1.77
playwright-stealth==2.0.3
h2==4.4.1
brotli==1.2.0
pillow==12.3.0
ollama==0.6.2